:host {
  display: block;
  width: 300px;
}

ul{
  margin: 0;
  padding: 0;
}

.board-name{
  font-size: initial;
}

.boards{
  display:flex;
  align-items: center;

  a{
    text-decoration: none;
    color: initial;
  }
}
