:host{
  display: block;
  flex-grow: 1;
  background-color: rgb(28,42,52);
  overflow: auto;
}

.board {
  .name {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 8px;
    font-size: 32px;
    line-height: normal;
    color: white;
  }

  .card-list-container {
    display: flex;

    app-card-list {
      margin: 24px;
    }
  }

  .btn-create-card-list{
    margin-left: 8px;
  }
}
